.header-component {
  border: 1px dashed #f00;
}
.jumbotron {
  height: 450px;
  width: 100%;
  margin-bottom: 0px;
  background-image: url(../images/gnu.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}
